header {
    background-color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    
}

.logo {
  height: 60px;
  margin-top: 10px;
  margin-bottom: 16px;
  margin-right: 60px;
  filter: grayscale(100%);
  transition: filter 0.2s;
}

.logo:hover {
  filter: none;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #9c9ca0;
  }
 
  li {
    float: left;
    display: inline;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }