<!-- File upload section -->
<div>
  <input
    *ngIf="showUploadForm"
    type="file"
    (change)="onFileChange($event)"
    accept=".zip"
  />
</div>

<!-- Display uploaded files -->
<div *ngIf="fileUploaded">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link active"
        *ngIf="zipContents.length > 0; else noFilesLoaded"
      >
        <p>{{ zipFile?.name }}</p>
      </a>
      <select
        class="btn btn-secondary dropdown-toggle"
        id="dropdownMenuButton"
        [(ngModel)]="selectedFileName"
      >
        <option value="" disabled>Log auswählen</option>
        <option *ngFor="let file of zipContents" [value]="file.name">
          {{ file.name | slice : file.name.lastIndexOf("/") + 1 }}
        </option>
      </select>
    </li>
  </ul>

  <dx-data-grid
    [dataSource]="logsDataSource"
    [columns]="['Datum', 'Uhrzeit', 'Loglevel', 'Nachricht', 'Thema']"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    keyExpr="Datum"
    [width]="'100%'"
    [height]="700"
    [showBorders]="true"
  >
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-header-filter [visible]="true"></dxo-header-filter>

    <dxi-column dataField="Datum" dataType="date" format="dd.MM.yyyy">
    </dxi-column>
    <dxi-column dataField="Uhrzeit"> </dxi-column>
    <dxi-column dataField="Loglevel" dataType="string"> </dxi-column>
    <dxi-column dataField="Nachricht" dataType="string"> </dxi-column>
    <dxi-column dataField="Thema" dataType="string"> </dxi-column>
  </dx-data-grid>

  <!-- show Content -->
  '
  <!-- <div class="content" [attr.has-content]="selectedFileName ? 'true' : 'false'">
    <pre
      #markedContentElement
      class="scrollable-content"
      [innerHTML]="markedContent(selectedFileName)"
    ></pre>
  </div> -->
  <ng-template #noFilesLoaded> </ng-template>
</div>
