<!-- body.component.html -->

<!-- File upload section -->
<div>
  <input
    *ngIf="showUploadForm"
    type="file"
    (change)="onFileChange($event)"
    accept=".zip"
  />
</div>

<!-- Display uploaded files -->
<div *ngIf="fileUploaded">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link active"
        *ngIf="zipContents.length > 0; else noFilesLoaded"
      >
        <p>{{ zipFile?.name }}</p>
      </a>
    </li>
  </ul>

  <!-- Navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <!-- Dropdown for file selection -->
          <select
            class="btn btn-secondary dropdown-toggle"
            id="dropdownMenuButton"
            [(ngModel)]="selectedFileName"
          >
            <option value="" disabled>Log auswählen</option>
            <option *ngFor="let file of zipContents" [value]="file.name">
              {{ file.name | slice : file.name.lastIndexOf("/") + 1 }}
            </option>
          </select>
        </li>
        <!-- Custom word filter -->
        <div class="filter ml-3">
          <label for="customWord"></label>
          <input
            class="form-control-sm"
            type="text"
            id="customWord"
            [(ngModel)]="customWord"
            placeholder="Erstelle Filter"
          />
          <button
            type="button"
            class="btn btn-secondary"
            (click)="removeCustomLines()"
          >
            Filtern
          </button>
        </div>

        <!-- Log level toggle -->
        <div class="form-check form-switch ml-3">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckChecked"
            checked
            [(ngModel)]="logHandlerService.buttonStates.LogLevel"
            (change)="onLogLevelToggleChange()"
          />
          LogLevel markieren
        </div>
      </ul>
      <ng-multiselect-dropdown
        class="custom-font-size"
        [placeholder]="'Filter'"
        [settings]="dropdownSettings"
        [data]="fileDataService.dropdownList"
        [(ngModel)]="fileDataService.selectedItems"
        (onSelect)="onItemSelect($event)"
        (onDeSelect)="onItemDeSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (onDeSelectAll)="onDeSelectAll()"
      >
      </ng-multiselect-dropdown>
      
      <!-- Search-Bar -->
      <div class="search">
        <input
          class="form-control"
          type="text"
          id="searchInput"
          [(ngModel)]="searchQuery"
          (input)="search()"
          placeholder="Suche"
        />
      </div>
    </div>
  </nav>

  <!-- Content display area -->
  <div class="content" [attr.has-content]="selectedFileName ? 'true' : 'false'">
    <pre
      #markedContentElement
      class="scrollable-content"
      [innerHTML]="markedContent(selectedFileName)"
    ></pre>
  </div>

  <!-- Template for no files loaded -->
  <ng-template #noFilesLoaded> </ng-template>
</div>
