@import '~bootstrap/dist/css/bootstrap.css';

.content {
  &[has-content='true'] {
    margin: 15px;
    border: 1px solid black;
    border-radius: 3px;
    overflow: hidden;
    white-space: pre-wrap;
  }
}

.scrollable-content {
  max-height: 700px;
  max-width: 1900px;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: pre-wrap;
  margin: 0;
}

.btn-secondary {
  background-color: gray;
  margin-right: 15px;
}

.search {
  position: relative;
  width: 100%;
  max-width: 200px;
  margin-left: auto;
}

.form-control-sm {
  margin-right: 20px;
}

.custom-font-size,
.custom-font-size2 {
  width: 100%;
  max-width: 350px;
  margin-left: 15px;
}