@import '~bootstrap/dist/css/bootstrap.css';
.content {

&[has-content='true'] {
    margin-right: 15px;
    margin-left: 15px;
    border:1px solid black;
    border-radius: 3px;
    overflow: hidden;
    white-space: pre-wrap;
}
}
  .scrollable-content {
    max-height: 700px;
    max-width: 1900px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: pre-wrap;
    margin: 0;
  }
  
  
.btn-secondary {
    background-color: gray;
    margin-right: 15px;
}

.search {
  position: absolute;
  right: 50px;
  width: 230px;
}

.form-control-sm{
  margin-right: 20px;
}

.custom-font-size {
  width: 350px;
  position: absolute;
  right: 750px;
}

.custom-font-size2 {
  width: 350px;
  position: absolute;
  right: 350px;
}

.calendar-sort {
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
}


