<div>
  <!-- Upload Files -->
  <input
    *ngIf="showUploadForm"
    type="file"
    (change)="onFileChange($event)"
    accept=".zip"
  />
</div>
<div *ngIf="fileUploaded">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" *ngIf="zipContents.length > 0; else noFilesLoaded">
        <p>{{ zipFile?.name }}</p>
      </a>
    </li>
  </ul>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- File Selection -->
          <select
            class="btn btn-secondary dropdown-toggle"
            id="dropdownMenuButton"
            [(ngModel)]="selectedFileName"
          >
            <option value="" disabled>Log auswählen</option>
            <option *ngFor="let file of zipContents" [value]="file.name">
              {{ file.name | slice : file.name.lastIndexOf("/") + 1 }}
            </option>
          </select>
        </li>
          <ng-multiselect-dropdown
            [placeholder]="'Filter'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
          >
          </ng-multiselect-dropdown>
        <div class="filter">
          <label for="customWord">Erstelle Filter: </label>
          <input
            class="form-control-sm"
            type="text"
            id="customWord"
            [(ngModel)]="customWord"
          />
          <button
            type="button"
            class="btn btn-secondary"
            (click)="removeCustomLines()"
          >
            Filtern
          </button>
        </div>
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckChecked"
            checked
            [(ngModel)]="logHandlerService.buttonStates.LogLevel"
            (change)="onLogLevelToggleChange()"
          />
          LogLevel markieren
        </div>
      </ul>
    </div>
  </nav>
</div>

<div class="content" [attr.has-content]="selectedFileName ? 'true' : 'false'">
  <pre
    #markedContentElement
    class="scrollable-content"
    [innerHTML]="markedContent(selectedFileName)"
  ></pre>
</div>
<ng-template #noFilesLoaded> </ng-template>
