@use 'bootstrap/scss/bootstrap' as *;

$webViewer-primary: #000000;
$webViewer-accent: #ff4081;
$webViewer-warn: #f44336;

$webViewer-theme: (
  color: (primary: $webViewer-primary,
    accent: $webViewer-accent,
    warn: $webViewer-warn,
  )
);

body {
  background-color: white;
  color: $webViewer-primary;
  overflow-y: hidden;
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-bottom: 50px !important;
}

header {
  margin: 10px !important;
}

html,
body {
  height: 100%;
}