@use 'bootstrap/scss/bootstrap' as *;

$logViewer-primary: #000000;
$logViewer-accent: #ff4081;
$logViewer-warn: #f44336;

$logViewer-theme: (
  color: (primary: $logViewer-primary,
    accent: $logViewer-accent,
    warn: $logViewer-warn,
  )
);

body {
  background-color: white;
  color: $logViewer-primary;
  overflow-y: hidden;
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-bottom: 50px !important;
}

header {
  margin: 10px !important;
}

html,
body {
  height: 100%;
}